.blog-list-wrapper > .container {
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.blog-header {
  flex: 0 0 40%;
  padding: 0 0 4rem;

  > * {
    max-width: 400px;
  }

  @media screen and (min-width: 700px) {
    padding: 0 0 4rem;

    .blog-header--sticky {
      position: sticky;
      top: calc($header-height + 3rem);
    }
  }

  .blog-header--description {
    color: $color-copy;
    font-size: 0.95rem;
    line-height: normal;
    margin-top: 0.5rem;
  }
}

.section-blog-list {
  flex: 0 0 70%;
  padding: 0;
  border-right: 1px solid #ebebeb;

  @media screen and (min-width: 800px) {
    padding: 3rem 2rem 0 4rem;
  }

  .blog-post,
  .doc {
    margin-bottom: 6rem;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .post-title,
  .doc-title {
    margin-bottom: 0.5rem;
    margin-top: 0;
    color: #3498db;
  }

  .post-meta,
  .doc-meta {
    margin-bottom: 0.5rem;
  }

  .post-category,
  .doc-category {
    margin-left: 0.5rem;
  }
}

img[src$="cloudformation-launch-stack.png"] {
  min-width: 144px;
}

.header-headline-container {
  background-image: url(/img/technical-blog-image.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 1;
  padding: 90px 60px 90px 35px;
  h1 {
    font-family: "titillium-light",arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    background: rgba(255,255,255,.55);
    display: inline-block;
    font-size: 35px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 40px .5em;
    width: 100%;
    background: 0 0;
    padding: 0;
  }
  .tagline {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}
}

.post-category {
  padding: 0.5rem 0 0 0;
}