html,
body {
  min-height: 100%;
}

body.in-transition {
  transition: transform 0.9s ease;
}

.container {
  padding: 0 8vw;
}

.section.center,
.container.center {
  @media screen and (max-width: 700px) {
    text-align: left;
  }
}

.section {
  padding: 4rem 0;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 700px) {
    padding: 8rem 0;
  }
}

.center {
  text-align: center;
}

.middle {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* Blocks */

.block-wrapper {
  display: flex;
}

.block-25 {
  flex: 0 0 25%;
}

.block-30 {
  flex: 0 0 30%;
}

.block-45 {
  flex: 0 0 45%;
}

.block-50 {
  flex: 0 0 50%;
}

.block-55 {
  flex: 0 0 55%;
}

.block-70 {
  flex: 0 0 70%;
}

/* Columns */

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem -4vw 1.5rem -4vw;
}

.column {
  padding: 4vw;
}

.desktop-only {
  display: none;
}


@media screen and (min-width: 701px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
