{{- $isHome := .IsHome -}}
{{- $isDocs := (eq .Section "docs") -}}
{{- $isBlogs := (eq .Section "blog") -}}


<header class="header buttons-header">
  <nav class="nav navbar navbar-light bg-light justify-content-end">
    <form class="form-inline my-2 my-lg-0 right-block">
      <ul class="buttons-nav-items">
        {{- range .Site.Menus.buttons -}}
        {{- if eq .Identifier "buynow" -}}
        <li class="nav-item buttons-nav-item" data-signed-out="true">
          <a class="button small system-status" href = "https://rackspace.service-now.com/system_status">
            System Status
          </a>
        </li>
        <li class="nav-item buttons-nav-item buy-now" data-signed-out="true">
          <a class="buynow-button button small primary"
            href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            <ul>
              <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
              <li><a href="https://cart.rackspace.com/apps">Email &amp; Apps</a></li>
              <li><a href="https://cart.rackspace.com/aws">Fanatical Support for AWS</a></li>
              <li><a href="https://cart.rackspace.com/gcp">Managed Google Cloud Platform</a></li>
              <li><a href="https://cart.rackspace.com/office365">Office 365</a></li>
            </ul>
        </li>
        {{- else if eq .Identifier "login" -}}
        <li class="nav-item buttons-nav-item login" data-signed-out="true">
          <a class="login-button button small secondary"
            href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            <ul>
              <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
              <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
              <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
              <li><a href="https://cp.rackspace.com">Cloud Office Control Panel</a></li>
          </ul>
        </li>
        {{- end -}}
        {{- end -}}
      </ul>
    </form>
  </nav>
</header>

<header class="header {{ if $isDocs }} docs{{ end }}">
  <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="https://www.rackspace.com/" title="Go to homepage" class="logo navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{- partial "components/navbar_nav.html" .Site.Menus.main . -}}
    </div>
  </nav>
</header>

<header class="header search-head">
  <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <h1 class="support-h1">Support Network</h1>
    <form class="form-inline search justify-content-end">
      <div class="gcse-search"></div>
    </form>
    </div>
  </nav>
</header>