<section class="rack-cli">
    <div class="box rack-cli">
        <div class="container">
          <div class="cli-grid">
            <div class="cli-image">
              <div data-rack-cli-graphic=""><img src="{{ "/img/rack-cli-static.png" | absURL }}"><img src="{{ "/img/rack-cli-animated.gif" | absURL }}" style="position: absolute; left: 31.2%; top: 25.75%; width: 292px;"></div>
            </div>
            <div class="cli-text">
              <h2>Rack CLI</h2>
              <p>“Rack”, the Rackspace command-line tool, makes it easy to explore and interact with the public cloud</p>
              <ul>
                <li>Integrates with Bash for advanced scripting interactions</li>
                <li>Quick and easy way to explore our APIs without writing an entire program</li>
              </ul>
              <div class="action">
                <a href="/docs/rack-cli/configuration/#installation-and-configuration" class="download-button">Download</a>
                <a href="/docs/rack-cli/" class="info-button">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>