
<section class="hero">
  <div class="hero--content">
    <div class="container">
      <div class="hero-header-headline">
        <div class="hero-header-headline-container">
          <h2>
            Spin Up <span class="txt-rotate" data-period="2000"
            data-rotate='[ "OnMetal Servers", "Containers", "MongoDB", "ElasticSearch"]'></span> Easier with&nbsp;Rackspace
          </h2>
          <br>
          <p class="tagline">From innovative products to a full suite of reliable cloud products, Rackspace has the
            right infrastructure to finish your next project. <br> <a href="https://cart.rackspace.com/cloud"
              class="get-started">Sign up</a> <a href="https://www.rackspace.com/special-offers"
              class="general-campaign">Check out our limited time product trials and offers</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
