<section class="sidebar">
    <div class="/blog-sidebar">
        <!-- <div class="recent-posts">
            <h5>Popular Posts</h5>
            <div class="tab-links">
                <a href="" data-ng-click="clickPostTab('month')"
                    data-ng-class="{'active': isSectionActive('month')}">Last 30 Days</a>
                <a href="" data-ng-click="clickPostTab('forever')"
                    data-ng-class="{'active': isSectionActive('forever')}">All Time</a>
            </div>
            <ol data-ng-show="isSectionActive('month')">
                <li><a href="/blog/2018-07-10-understanding-a-sql-server-execution-plan/">Understanding a SQL Server execution
                        plan</a></li>
                <li><a href="/blog/2018-06-07-lacp-bonding-and-linux-configuration/">LACP bonding and Linux configuration</a>
                </li>
                <li><a href="/blog/2018-08-01-steps-to-migrate-multiple-iis-sites/">Steps to migrate multiple IIS sites</a>
                </li>
                <li><a href="/blog/2018-08-23-new-sql-server-2017-features/">New SQL Server 2017 features</a></li>
                <li><a href="/blog/2018-09-19-introduction-to-pgp-encryption-and-decryption/">Introduction to PGP encryption
                        and
                        decryption</a></li>
            </ol>
            <ol data-ng-show="isSectionActive('forever')" class="ng-hide">
                <li><a href="/blog/2018-07-10-understanding-a-sql-server-execution-plan/">Understanding a SQL Server execution
                        plan</a></li>
                <li><a href="/blog/2018-06-07-lacp-bonding-and-linux-configuration/">LACP bonding and Linux configuration</a>
                </li>
                <li><a href="/blog/2013-05-02-powerclient-rackspace-cloud-api-powershell-client/">PowerShell 101 from a Linux guy</a></li>
                <li><a href="/blog/2014-11-07-openstack-orchestration-in-depth-part-1-introduction-to-heat/">OpenStack
                        Orchestration
                        in depth, Part 1: Introduction to Heat</a></li>
                <li><a href="/blog/2014-01-07-neutron-networking-l3-agent/">Neutron networking: Neutron routers and the L3
                        agent</a>
                </li>
            </ol>
        </div> -->
        <div class="categories">
            <h5>Categories</h5>
            <ul>
                <li><a href="/blog/categories/openstack">Openstack</a></li>
                <li><a href="/blog/categories/database">Database</a></li>
                <li><a href="/blog/categories/oracle">Oracle</a></li>
                <li><a href="/blog/categories/salesforce">Salesforce</a></li>
                <li><a href="/blog/categories/developers">Developers and DevOps</a></li>
                <li><a href="/blog/categories/security">Security</a></li>
                <li><a href="/blog/categories/cloud-servers">Cloud Servers</a></li>
                <li><a href="/blog/categories/general">General</a></li>
            </ul>
        </div>
    </div>
</section>