<div class="side-how-to sticky" data-nosnippet>
  <div class="row">
    <div class="col-sm-12">
      <a class="home-link" href="/support/how-to/"><i class="fa fa-home"></i>How–To Home</a>
    </div>
  </div>
  <hr/>
  <button class="button-wp">
      <a href="https://github.com/rackerlabs/support-how-to/edit/master/content/getting-started-with-public-cloud.md"><i class="fa fa-github"></i>Edit this article</a>
  </button>
  <button class="button-cart">
      <a class="active" id="side-cloud" href="https://cart.rackspace.com/cloud">Buy Now</a>
  </button>
</div>