<div id="support-docs-content">
    {{- partial "components/search-modal" . -}}
    <div class="container">
        <div class="row top-section">

            <div class="col-sm-12">
                <h2 class="section-heading front-page-heading">Rackspace Support Documentation</h2>
                <p class="front-blurb">The Rackspace Support Documentation provides guidance for users of all
                    Rackspace services.</p>
                <div class="campaign-link" id="general-campaign">
                    <a class="general-campaign" target="_blank" href="https://www.rackspace.com/special-offers">Limited
                        time:<br> Check out our limited time
                        product trials and offers<br></a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="top-links" id="gs-main-page">
                    <a class="first-links" target="_blank"
                        href="/support/how-to/#getting-started">Getting Started<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="https://manage.rackspace.com/aws/docs/product-guide/passport.html">Fanatical Support for
                        AWS<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/#cloud-office">Rackspace Cloud Office<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/managed-operations/">Rackspace Managed
                        Operations<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/rpc-openstack/">Rackspace Private Cloud Powered by
                        OpenStack<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/rpc-vmware/">Rackspace Private Cloud Powered by
                        VMware<span class="caret">»</span></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="top-links" id="acct-mgt">
                    <a class="first-links" target="_blank"
                        href="/support/how-to/account-management/">Account Management<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="https://docs.rackspace.com/docs/fanatical-support-gcp/">Managed Services for
                        Google Platform<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/dedicated-hosting/">Rackspace Dedicated Hosting<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/#cloud-hosting">Rackspace Public Cloud<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/vmware-server-virtualization/">VMware Server
                        Virtualization<span class="caret">»</span></a>
                </div>
            </div>

        </div>
    </div>
</div>