<div id="support-docs-content">
    {{- partial "components/search-modal" . -}}
    <div class="container">
        <div class="row top-section">
            <div class="col-sm-12">
                <h2 class="section-heading front-page-heading">Rackspace Support Documentation</h2>
                <p class="front-blurb">The Rackspace Support Documentation provides guidance for users of all
                    Rackspace services.</p>
                <div class="campaign-link" id="general-campaign">
                    <a class="general-campaign" target="_blank" href="https://www.rackspace.com/special-offers">Limited
                        time:<br> Check out our limited time
                        product trials and offers<br></a>
                </div>
            </div>  
        </div>
        <h2>Rackspace Fabric™</h2>
        <p>Rackspace technology uses new fabric ticketing application, is used mainly for Dedicated accounts and multi-cloud accounts. This fabric ticketing application was created with the user in mind, so that they can understand which categories, accounts, products, and devices they need to select to achieve each common request template.</p>
        <div class="col-sm-12 col-md-6">
            <div class="rectangle" id="acct-mgt">
                <!-- <style> 
                .rectangle {
                    padding: 100px;
                      width:100px;
                      height:100px;
                      border:1px solid #f24611;
                      display: block;
                      position: relative;
                      text-align: center;
                      float:left;
                      margin-right: 50px;
                      margin-bottom: 50px;
                    }
                </style> -->
                <a class="first-links" target="_blank"
                    href="/support/how-to/account-management/">Account Management<span
                        class="caret">»</span></a>
            </div>
            
            <div class="rectangle">
                <a class="front-link" target="_blank"
                    href="/support/how-to/rackspace-fabric/">Rackspace Fabric™<span
                        class="caret">»</span></a>
            </div>
            <div class="rectangle">
                <a class="front-link" target="_blank"
                    href="#">Patching<span
                        class="caret">»</span></a>
            </div>

        </div>

        <h2>Platforms</h2>
        <p>Platform is on-demand access to a complete, ready-to-use, cloud-hosted platform for developing, running, maintaining and managing applications.</p>    
        <div class="row">   
            <div class="col-sm-12 col-md-6">
                <div class="rectangle">
                    <style> 
                    .rectangle {
                        padding: 100px;
                          width:100px;
                          height:100px;
                          border:1px solid #f24611;
                          display: block;
                          position: relative;
                          text-align: center;
                          float:left;
                          margin-right: 50px;
                          margin-bottom: 50px;
                        }
                    </style>
                    <a class="front-link" target="_blank"
                        href="https://manage.rackspace.com/aws/docs/product-guide/passport.html">Fanatical Support for
                        AWS<span class="caret">»</span></a>
                </div>
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="https://docs.rackspace.com/docs/fanatical-support-gcp/">Managed Services for
                        Google Platform<span class="caret">»</span></a>
                </div>
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="#">Microsoft Azure<span class="caret">»</span></a>
                </div>
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/#cloud-office">Rackspace Cloud Office<span
                            class="caret">»</span></a>
                </div>
    
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="https://docs.rackspace.com/docs/private-cloud/rpc/v17/">Rackspace Private Cloud Powered by
                        OpenStack<span class="caret">»</span></a>
                </div>
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="https://docs.rackspace.com/docs/rpc-vmware/rpc-vmware-customer-handbook/">Rackspace Private Cloud Powered by
                        VMware<span class="caret">»</span></a>
                </div>
                
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/dedicated-hosting/">Rackspace Dedicated Hosting<span
                            class="caret">»</span></a>
                </div>
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/#cloud-hosting">Rackspace Public Cloud<span
                            class="caret">»</span></a>
                </div>
                <div class="rectangle">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/vmware-server-virtualization/">VMware Server
                        Virtualization<span class="caret">»</span></a>
                </div>
            </div>
            

        </div>
    </div>
</div>