<div id="support-docs-content">
    {{- partial "components/search-modal" . -}}
    <div class="container">
        <div class="row top-section">
            <div class="col-sm-12">
                <h2 class="section-heading front-page-heading">Rackspace Support Documentation</h2>
                <p class="front-blurb">The Rackspace Support Documentation provides guidance for users of all
                    Rackspace services.</p>
                <div class="campaign-link" id="general-campaign">
                    <li> <a class="general-campaign" target="_blank" href="https://www.rackspace.com/special-offers">Limited
                        time:<br> Check out our limited time
                        product trials and offers<br></a></li>
                </div>
            </div>

        </div>
        <h3 class="sub-section-heading">Rackspace Fabric</h3>
        <div class="row">  
        <div class="col-md-12"><ul class="area">
            <li id="acc-man" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/support/how-to/account-management/" onclick="clickForActive(event);">Account Management</a></li>
            <li id="patching" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/docs/fanatical-support-aws/patching/" onclick="clickForActive(event);">Patching</a></li>
            <li id="rackspace-fabric" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/support/how-to/rackspace-fabric/" onclick="clickForActive(event);">Fabric Ticketing</a></li>
        </ul></div>    
        </div>
        <h3 class="sub-section-heading">Platform</h3>
        <div class="row">  
        <div class="col-md-12"><ul class="area">
            <li id="aws" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/support/how-to/account-management/" onclick="clickForActive(event);">Amazon Web Services</a></li>
            <li id="gcp" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/docs/fanatical-support-gcp/" onclick="clickForActive(event);">Google Cloud Platform</a></li>
            <li id="Azure" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/support/how-to/#cloud-office" onclick="clickForActive(event);">Microsoft Azure</a></li>
            <li id="rackspace-cloud" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/support/how-to/#private-cloud" onclick="clickForActive(event);">Rackspace Cloud</a></li>
            <li id="dedicated" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/support/how-to/dedicated-hosting/" onclick="clickForActive(event);">Rackspace Dedicated</a></li>
            <li id="VMware" class="link"><a class="front-links" target="_blank" href="https://docs.rackspace.com/support/how-to/vmware-server-virtualization/" onclick="clickForActive(event);">VMware Cloud</a></li>
        </ul>
            </div>    
        </div>
        <!-- <div class="row">   
            <div class="col-sm-12 col-md-6">
                <div class="top-links" id="gs-main-page">
                    <a class="first-links" target="_blank"
                        href="/support/how-to/#getting-started">Getting Started<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="https://manage.rackspace.com/aws/docs/product-guide/passport.html">Fanatical Support for
                        AWS<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/#cloud-office">Rackspace Cloud Office<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/managed-operations/">Rackspace Managed
                        Operations<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="https://docs.rackspace.com/docs/private-cloud/rpc/v17/">Rackspace Private Cloud Powered by
                        OpenStack<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="https://docs.rackspace.com/docs/rpc-vmware/rpc-vmware-customer-handbook/">Rackspace Private Cloud Powered by
                        VMware<span class="caret">»</span></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="top-links" id="acct-mgt">
                    <a class="first-links" target="_blank"
                        href="/support/how-to/account-management/">Account Management<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="https://docs.rackspace.com/docs/fanatical-support-gcp/">Managed Services for
                        Google Platform<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/dedicated-hosting/">Rackspace Dedicated Hosting<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/#cloud-hosting">Rackspace Public Cloud<span
                            class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/vmware-server-virtualization/">VMware Server
                        Virtualization<span class="caret">»</span></a>
                </div>
                <div class="button-links">
                    <a class="front-link" target="_blank"
                        href="/support/how-to/rackspace-fabric/">Rackspace Fabric™<span
                            class="caret">»</span></a>
                </div>
            </div>

        </div>
    </div> -->
</div>