{{- define "main" -}}
<main class="about__wrapper">
    <section class="about-section about-section--centered">
        <div class="about__content about__content--text-centered">
            <h2 class="about__title"></h2>
            <div class="about__text about__text--mission">
                <p></p>
            </div>
        </div>
    </section>
    <section class="about-section about-section--gray">
        <div class="about__image"></div>
        <div class="about__content">
            <h2 class="about__title"></h2>
            <div class="about__text">
                <p>.</p>
                <br>
                <p></p>
                <p class="link-text"></p>
            </div>
        </div>
    </section>
    <section class="about-section about-section--white">
        <div class="about__content">
            <h2 class="about__title"></h2>
            <div class="about__text">
                <p></p>
                <p class="link-text"></p>
            </div>
        </div>
        <div class="about__image"></div>
    </section>
    <section class="about-section about-section--gray">
            <div class="about__image"></div>
        <div class="about__content">
            <h2 class="about__title"></h2>
            <div class="about__text">
                <p></p>
            </div>
        </div>
    </section>
</main>
{{- end -}}
