# Don't commit system files or dependencies
*.DS_Store
node_modules/
.env
output
resources

# Don't add personal VS Code settings
.vscode/

# Ensure Hugo builds aren't committed to Git
public/
hugo/public/
dist/
.tmp/
resources/_gen
static/assets/

# Don't add files that are created in the build process
# Local Netlify folder
.netlify
Gemfile.lock

# Vale local styles
.github/styles/Google
.github/styles/Microsoft
