# Don't commit system files or dependencies
*.DS_Store
node_modules/
.env
yarn.lock

# Don't add personal VS Code settings
.vscode/

# Ensure Hugo builds aren't committed to Git
public/
hugo/public/
dist/
.tmp/

# Don't add files that are created in the build process

