[build.environment]
  HUGO_VERSION = "0.75.1"
  NPM_VERSION = "6.14.8"
  NODE_VERSION = "12.16.3"

[build]
  command = "npm run build"
  publish = "public"


[context.deploy-preview]
  command = "npm run build"
  publish = "public"

[[headers]]
  for = "/img/*"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"
[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"
[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"

[[plugins]]
  package = "netlify-plugin-hugo-cache-resources"
	[plugins.inputs]
	debug = true

[dev]
  framework = "#custom"
  # only start Hugo, `netlify dev` builds/serves functions itself
  command = "npm start"
  # swap ports to keep consistent w/ normal local server
  targetPort = 1314
  port = 1313
  # don't launch browser automatically
  autoLaunch = false


[[plugins]]
  package = "./plugins/netlify-plugin-check-urls"
 [plugins.inputs]
  entryPoints = [
    "*.html","*.md"
  ]
  recursive = true
  pretty = true
  skipPatterns = ["public/support", "public/support/how-to", "public/support/*", "public/support/how-to/*"]
  todoPatterns = []
  checkExternal = false
  followSourceMaps = false

# [[plugins]]
#   package = "netlify-plugin-no-more-404"

#   # all inputs are optional, we just show you the defaults below
#   [plugins.inputs]
  
#   # either "warn" or "error"
#   on404 = "error" 
  
#   # change this key to a new one any time you need to restart from scratch
#   cacheKey = "MyCacheKey"
  
#   # (for development) turn true for extra diagnostic logging
#   debugMode = false

# [[plugins]]
#   package = "@netlify/plugin-sitemap"

#   [plugins.inputs]
#   buildDir = "public"
#   prettyURLs = false
#   trailingSlash = true

# [[plugins]]
#   package = "netlify-plugin-image-optim"

# [[plugins]]
#   package = "netlify-plugin-a11y"

#   # all inputs are optional, we just show you the defaults below
#   [plugins.inputs]
  
#   # required config
#   checkPaths = ['/'] # you can give an array of directories or paths to html files, that you want to run a11y checks on

  
#   # # optional config
#   # ignoreDirectories = ['/admin']  # explicitly ignore these directories

#   # resultMode = "warn" # is "error" by default

#   # # Developer only
#   # debugMode = true # extra logging for plugin developers