section.blog {
    border-top: solid 1px #e0e0e0;

    .headline {
        margin-bottom: 40px;

        h2 {
            font-size: 3rem;
        }
    }

    .tab-buttons {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;

            li {
                font-family: 'titillium-light', arial, sans-serif;
                font-style: normal;
                font-weight: 400;
                display: inline-block;
                font-size: 18px;
                line-height: 24px;
                padding: 0 1em;
                text-transform: uppercase;

                a.active {
                    color: #3498db;
                }
            }

            li.active-link-indicator {
                background: #3498db;
                height: 2px;
                left: 0;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 0;
                -webkit-transition: all .15s ease-in;
                -ms-transition: all .15s ease-in;
                transition: all .15s ease-in;
                width: 0;
            }
        }
    }

    [data-tab] {
        padding: 60px 0 0;
        text-align: left;

        .big-button {
            padding-top: 60px;
            text-align: center;

            a {
                border-radius: 1px;
                display: inline-block;
                padding: 1em 3em;
                text-decoration: none;
                -webkit-transition: background .1s ease-in-out;
                -ms-transition: background .1s ease-in-out;
                background: tranparent;
                color: #3498db;
                border: 1px solid #3498db;
                transition: all .1s ease-in-out;
            }
        }
    }

    .blog-posts {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .blog-post {
            margin: 0;
            padding: 0 0 20px;

            .post-avatar {
                margin-top: .5em;
                float: left;
                height: 64px;
                margin-right: 10px;
                width: 64px;

                img {
                    display: block;
                    height: 64px;
                    width: 64px;
                }

                .racker::after {
                    content: 'RACKER';
                    font-size: 10px;
                    width: 100%;
                }
            }

            .post-avatar.racker::after {
                background: rgba(235, 0, 0, .8);
                color: #fff;
                left: 0;
                line-height: 1.5;
                position: absolute;
                text-align: center;
                bottom: 0;
            }

            .post-info {
                margin-bottom: 0;
                line-height: 2;
            }

            .post-info::before {
                content: " ";
                display: table;
            }
        }

        h4 {
            font-family: 'titillium-regular', arial, sans-serif;
            font-style: normal;
            font-weight: 400;
        }

        .post-categories {
            display: inline-block;
            font-size: 12px;
            list-style-type: none;
            margin: 0;
            padding-left: 0;

            li {
                display: inline-block;
            }
        }

    }
}