.hero {
  align-items: center;
  background: $color-white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 5rem;
  position: relative;
  z-index: 1;
  background-image: url("/img/misc-banner.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 48em) {
    min-height: 60vh;
  }

  .hero--text-block {
    padding: 9rem 0 0;
    text-align: left;

    @media screen and (min-width: 1200px) {
      padding: 80px 0 100px;
    }
  }

  .hero--title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;

    @media screen and (min-width: 520px) {
      font-size: 3rem;
    }
  }

  .hero--sub {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    max-width: 460px;
    opacity: 0.8;
  }

  .hero-cta {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;

    @media screen and (min-width: 520px) {
      margin-top: 3rem;
    }

    .button {
      margin-right: 1rem;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  .hero-header-headline {
    .hero-header-headline-container {
      h2 {
        background: 0 0;
        font-size: 2.5rem;
        font-family: 'titillium-light', arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        background: rgba(0, 0, 0, .4);
        color: #fff;
        display: block;
        text-align: center;
        text-shadow: 0 0 2px rgba(0, 0, 0, .3);
        text-transform: uppercase;
      }

      .txt-rotate {
        display: inline-block;
        font-size: 100%;
        min-width: 10em;
        font-family: 'titillium-regular', arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        border-bottom: solid 2px #fff;
        margin: .5em auto;
        line-height: 1;
      }
    }

    .tagline {
      margin: 0 auto;
      max-width: 760px;
      color: #fff;
      font-size: 128.57142857%;
      margin-bottom: 0;
      text-align: center;
      text-transform: none;
      display: block;

      .get-started {
        border-radius: 1px;
        display: inline-block;
        -webkit-transition: background .1s ease-in-out;
        -ms-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
        background: #3498db;
        border: 1px solid #2f89c5;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
      }

      .general-campaign {
        transition: background .1s ease-in-out;
        background: #3498db;
        border: 1px solid #2f89c5;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
      }

      .general-campaign,
      .get-started {
        font-family: "open-sans-regular", arial, sans-serif;
        padding: 1em 3em;
        letter-spacing: .04em;
        margin-top: 2em;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

.hero--content {
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  width: 100%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  39% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  89% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}