.panel-group {
    .panel {
        .panel-heading {
            .panel-title {
               padding-left: 1rem;
            }
        }
        .panel-body {
            padding-left: 1rem;
        }
    }
    .collapsed:after {
        content: url(/img/plus.svg);;
        position: absolute;
        left: 2rem;
        color: #3498DB;
    }
    h4.active:after {
        content: url(/img/minus.svg);
        position: absolute;
        left: 2rem;
        color: #3498DB;
    }
    h4 {
        cursor: pointer;
        padding-left: 1rem;
        margin-left: 1rem;
        font-size: 1.4rem;
    }
    p, ul {
        padding-left: 1rem;
        font-size: 1rem;
    }
    code {
        color: #474747 !important;
    }
    h4:hover {
        color: #3498DB;
    }
    // h4.inactive + p, h4.inactive + p + p,  h4.inactive + p + p + p, h4.inactive + p + ul, h4.inactive + p + p + p + p, h4.inactive + p + p + p + p + ul, h4.inactive + p + p + p + p + ul + p, h4.inactive + ul,  h4.inactive + hr, h4.inactive + h3, h4.inactive + ul + hr, h4.inactive + ul + hr + h3, h4.inactive + p + p + ul, h4.inactive + p + hr, h4.inactive + p + hr + h3, h4.inactive + p + h3 {
    //     display: none;
    // }
    // h4.active + p, h4.active + p + p,  h4.active + p + p + p, h4.active + p + ul, h4.active + p + p + p + p, h4.active + p + p + p + p + ul, h4.active + p + p + p + p + ul + p, h4.active + ul,  h4.active + hr, h4.active + h3, h4.active + ul + hr, h4.active + ul + hr + h3, h4.active + p + p + ul, h4.active + p + hr, h4.active + p + hr + h3, h4.active + p + h3 {
    //     display: block;
    // }
    h4.inactive~p, h4.inactive~ul, h4.inactive~h3, h4.inactive~ol {
        display: none;
    }
    h4.active~p, h4.active~ul, h4.active~h3, h4.active~ol {
        display: block;
    }
    #share-bar {
        h4.inactive:after {
            content: "";
            position: absolute;
        }
        h4.active:after {
            content: "";
            position: absolute;
        }
    }
}

.faq-list {
    a.inactive:after {
        content: url(/img/plus.svg);
        position: absolute;
        left: 1rem;
        color: #3498DB;
    }
    a.inactive.collapsed:after {
        content: url(/img/plus.svg);;
        position: absolute;
        left: 1rem;
        color: #3498DB;
    }
    a[aria-expanded="true"]:after {
        content: url(/img/minus.svg);
        position: absolute;
        left: 1rem;
        color: #3498DB;
    }
}
