.announcement {
    .header-announcement {
        background: #64005A;

        .banner {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 15px 0;
            p {
                font-family: "open-sans-regular", arial, sans-serif;
                font-style: normal;
                text-align: center;
                font-size: 18px;
                font-weight: 510;
                line-height: 2rem;
                color: #FFF;
                margin-bottom: 0;
                strong {
                    font-weight: 700;
                }
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}