.highlight {
  margin-bottom: 1.2em;
}

.highlight>pre {
  border-radius: 4px;
  overflow-x: auto;
  padding: 10px;
}

/* Inline code */
code {
  border-radius: 2px;
  color: #e83e8c;
  padding: 0 .2em;
  font-family: 'source-code-regular', 'Monaco', 'Courier New', monospace;
  font-style: normal;
  font-weight: 610;
}

#share-bar {
  margin-top: 3rem;
  margin-bottom: 1rem;
  h4 {
    margin-bottom: 10px;
    font-weight: 510;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
  }
  border-top: 1px solid #e6e6e6;
}

.fa-twitter {
  color: #55acee;
}
.fa-linkedin {
  color: #0077b5;
}
.share-button {
  margin: 0 0 10px;
  border: 1px solid #D3D6D2;
  padding: 18px;
}
.fa-facebook-official {
  color: #3b5999;
}
.fa-reddit-alien {
  color: #ff5700;
}

.fa {
  font-size: 1.5rem;
}

.cta-bar {
  text-align: center;
}