.footer {
  background-color: #2a2a2a;
  color: $color-white;
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  padding: 4rem 0 0;
  position: relative;
  z-index: 1;
  text-align: left;
  border-top: 10px solid #EB0000;

  /* Ensure intercom doesn't cover anything... */
  @media screen and (max-width: 48em) {
    padding-bottom: 3rem;
  }

  a {
    line-height: 1.8;
    text-decoration: none;
    transition: opacity 0.15s ease;
    vertical-align: top;
    will-change: opacity;
    color: $color-white;

    &:hover {
      opacity: 0.6;
      text-decoration: underline;
    }
  }

  .footer-title {
    display: block;
    font-weight: 610;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .slack-logo {
    margin-top: 1rem;
  }

  .column {
    overflow: hidden;
  }

  .column:nth-child(1) {
    flex: 0 0 100%;

    @media screen and (min-width: 700px) {
      flex: 0 0 100%;
    }

    @media screen and (min-width: 1000px) {
      flex: 0 0 20%;
    }
  }

  .column:nth-child(2) {
    flex: 0 0 50%;

    @media screen and (min-width: 700px) {
      flex: 0 0 25%;
    }

    @media screen and (min-width: 1000px) {
      flex: 0 0 20%;
    }
  }

  .column:nth-child(3) {
    flex: 0 0 50%;

    @media screen and (min-width: 700px) {
      flex: 0 0 25%;
    }

    @media screen and (min-width: 1000px) {
      flex: 0 0 20%;
    }
  }

  .column:nth-child(4) {
    flex: 0 0 100%;

    @media screen and (min-width: 700px) {
      flex: 0 0 50%;
    }

    @media screen and (min-width: 1000px) {
      flex: 0 0 40%;
    }
  }
  .first-footer {
    margin-bottom: 2rem;
  }
}

.lower-footer {
  padding: 2rem 0;
  background-color: #000000;

  > .container {
    display: flex;
    justify-content: space-between;
  }

  ul {
    text-align: left;
    display: flex;
  }

  li {
    margin-left: 1rem;
  }
}
