$header-height: 5rem;

.header {
  align-items: center;
  background-color: $color-black;
  border-bottom: 1px solid $color-grey;
  font-size: 14px;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  z-index: 20;

  .navbar {
    padding: 0;
    color: $color-white;

    .nav-link {
      color: $color-white;
      font-weight: 510;
      text-decoration: none;
      transition: color 0.15s ease;

      &:hover {
        color: $color-white;
      }

      &.active {
        color: $color-white;
      }
    }
  }

  .logo {
    backface-visibility: hidden;
    background-image: url(img/Rackspace_Technology_Logo_RGB_WHT.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    height: 65px;
    transition: width 0.15s linear, opacity 0.15s ease;
    width: 140px;
    background-color: $color-red;
    margin: 0;
    padding: 0 1rem;

    &:hover {
      opacity: 0.6;
    }
  }

  .dropdown-menu {
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, .15);
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0em;
    content: "";
    border-top: .7em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
  }

  @media (min-width: 979px) {
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
  }

  .search {
    margin: 1rem;
    position: relative;

    // &::after {
    //   background-image: url("/img/search.svg");
    //   background-repeat: no-repeat;
    //   background-size: 0.9rem;
    //   content: "";
    //   height: 100%;
    //   left: 0.7rem;
    //   opacity: 0.25;
    //   position: absolute;
    //   top: 0.65rem;
    //   width: 2rem;
    //   z-index: 10;
    // }

    input {
      padding-left: 2rem;
    }
  }

  .left-block {
    align-items: center;
    display: flex;
    height: 75%;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.15s linear;
    width: 140px;
    margin: 1rem;
    padding: 0.25rem;

    @media screen and (max-width: 700px) {
      width: 1.5rem;

      .logo {
        background-image: url(img/Rackspace_Technology_Logo_RGB_WHT.svg);
      }
    }
  }

  .right-block {
    align-items: center;
    display: flex;
  }

  .search {
    margin: 1rem;
    position: relative;

    // &::after {
    //   background-image: url("/img/search.svg");
    //   background-repeat: no-repeat;
    //   background-size: 0.9rem;
    //   content: "";
    //   height: 100%;
    //   left: 0.7rem;
    //   opacity: 0.25;
    //   position: absolute;
    //   top: 0.65rem;
    //   width: 2rem;
    //   z-index: 10;
    // }

    input {
      padding-left: 2rem;
      min-width: 40rem;
      min-height: 3rem;
      font-size: 1rem;
      font-style: italic;
    }

    button {
      position: relative;
      top: 0;
      right: 0;
      cursor: pointer;
      border-width: 0;
      outline-width: 0;
      font-size: 20px;
      padding: 11px;
      background: none;
      color: #555;
      transition: all 0.15s linear;
      background-color: $color-white;
      .button-text {
        display: none;
      }
    }
  }
}

.header.dark {
  background-color: $color-black;
  border-bottom: 1px solid $color-dark;
  color: $color-white;

  .logo {
    background-image: url("/img/Rackspace_Technology_Logo_RGB_WHT.svg");
  }

  .nav {
    color: $color-white;

    &.expanded {
      color: $color-black;
    }
  }

  .button {
    color: $color-white;
  }

  @media screen and (max-width: 700px) {
    .logo {
      background-image: url("/img/Rackspace_Technology_Logo_RGB_WHT.svg");
    }
  }
}

.header.docs {
  height: $header-height;

  .nav {
    &.expanded {
      display: flex;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      padding: 1.24rem 2rem 2rem;

      @media screen and (min-width: 960px) {
        padding: 1.21rem 4rem 2rem;
      }

      ul.main-nav-items {
        border-bottom: 1px solid $color-grey;
        padding-bottom: 2rem;
        width: 100%;
      }

      li {
        font-size: 1rem;
        text-transform: uppercase;
      }

      .docs-nav-items {
        font-size: 1rem;
        padding-top: 2rem;
        width: 100%;

        h2 {
          margin-bottom: 2rem;
        }

        h3 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        ul {
          color: $color-copy-dark;
          margin-bottom: 2rem;
        }

        li {
          line-height: 1.4;
          margin-bottom: 0.5rem;
          text-transform: uppercase;

          a {
            color: $color-copy-dark;
            font-weight: 510;
            text-decoration: none;

            &.active {
              color: $color-brand;
              font-weight: 610;
            }
          }
        }
      }

      .buynow-button,
      .login-button {
        margin: 2rem 0 0;
      }

      .mini-nav--logo {
        display: block;
        background-color: $color-red;
      }
    }

    // @media screen and (min-width: 960px) {
    //   display: none;
    // }

    // @media screen and (min-width: 860px) {
    //   .docs-nav-items {
    //     display: none;
    //   }
    // }

    // @media screen and (min-width: 1100px) {
    //   display: block;
    // }
  }

  // .mini-nav--toggle {
  //   @media screen and (min-width: 960px) {
  //     display: block;
  //   }

  //   @media screen and (min-width: 1100px) {
  //     display: none;
  //   }
  // }
}

.nav {
  display: flex;
  position: relative;
  transition: all 0.15s linear;
  white-space: nowrap;

  &.expanded {
    background: $color-black;
    border-bottom: 1px solid $color-grey;
    display: flex;
    height: auto;
    left: 0;
    padding: 1.72rem 8vw 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;

    li {
      display: block;
      font-size: 1.5rem;
      line-height: 1.8;
      text-transform: uppercase;
    }

    .buynow-button,
    .login-button {
      margin: 2rem 0 0;
    }

    .mini-nav--logo {
      display: block;
      background-color: $color-red;
    }

    // @media screen and (min-width: 960px) {
    //   display: none;
    // }
  }

  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.nav {
  li {
    display: block;
    list-style: none;
    margin-right: 1.5rem;
    text-transform: uppercase;

    &:last-child {
      margin: 0;
    }

    .nav-item {
      color: $color-white;
      font-weight: 510;
      text-decoration: none;
      transition: color 0.15s ease;

      &:hover {
        color: $color-white;
      }

      &.active {
        color: $color-white;
      }
    }

    a {
      font-size: 14px;
      font-weight: 510;
      font-family: "open-sans-bold", Arial, sans-serif;
      font-style: normal;

      // &:hover,
      // &.active {
      //   background-color: $color-black;
      // }

      &.active {
        background: fadeout(shade(white, 3%), 5%);
      }
    }
  }
}


.mini-nav--toggle {
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 40;
  margin: 0 0 0 20rem;

  img {
    display: block;
    width: 1.2rem;
  }

  .toggle-open {
    display: block;
  }

  .toggle-close {
    display: none;
  }

  @media screen and (min-width: 960px) {
    display: none;
  }
}

.nav.expanded+.mini-nav--toggle {
  .toggle-open {
    display: none;
  }

  .toggle-close {
    display: block;
  }
}

.mini-nav--logo {
  backface-visibility: hidden;
  background-image: url("/img/Rackspace_Technology_Logo_RGB_WHT.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
  height: 1.5rem;
  line-height: 0;
  margin-bottom: 2rem;
  overflow: hidden;
  transition: all 0.15s linear;
  width: 110px;
  background-color: $color-red;
}

.buttons-header {
  background-color: $color-white;
}

.buttons-nav-items,
.main-nav-items {
  margin: 1rem;
}

.buttons-nav-items {
  display: flex;

  .buttons-nav-item {
    display: flex;
    margin: 1rem;
    cursor: pointer;

    ul {
      display: none;
      cursor: pointer;

      li {
        margin-bottom: .5em;

        a {
          color: $color-white;
          text-decoration: none;
        }
      }
    }

    // &:hover {
    //   ul {
    //     display: block;
    //   }
    // }
  }

  .buttons-nav-item {
    ul {
      position: absolute;
      padding-left: 0;
      border-top: 1px solid $color-black;
      border-radius: 3px;
      z-index: 20;
      text-align: right;
      color: $color-white;
      right: 0;
      top: 75%;
    }
  }

  .buy-now {
    ul {
      background: $color-green;
    }
  }

  .login {
    ul {
      background: $color-header-grey;
    }
  }
}

.blog-nav {
  background-color: $color-black;
  z-index: 2;
}

.main-nav-items {
  .blog-nav {
    cursor: pointer;
    display: inline-block;
    position: relative;

    .main-nav-items {
      position: absolute;
      display: none;
      margin: 0;
      background-color: $color-light-grey;
      text-decoration: none;
      list-style-type: none;
      padding: 10px;
      border-radius: 0 0 4px 4px;

      li {
        width: 220px;
        border-radius: 4px;

        a {
          font-weight: 610;
          color: $color-dark-grey;
          font-size: 14px;
          line-height: 25px;
          text-decoration: none;
          text-transform: uppercase;
          list-style-type: none;

          &:hover,
          &:focus {
            color: $color-white;
            background: transparent;
          }
        }
      }
    }

    &:hover,
    &:focus {
      .main-nav-items {
        display: grid;
      }
    }
  }
}

.bg-dark {
  background-color: $color-black !important;
}

.system-status {
  text-transform: uppercase;
  font-size: 0.8rem !important;
  background-color: $color-white !important;
  &:hover {
    background-color: $color-white !important;
    text-decoration: underline;
  }
}

.search-head {
  background-color: #212121 !important;
  .support-h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 19px 10px 19px;
  }
}


.gsc-control-cse {
  padding: 0 !important;
}

.bg-light {
  background-color: $color-white !important;
}
li, button, a {
  cursor: pointer;
}


@media screen and (max-width: 700px) {
 .nav li {
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  .buy-now {
     margin-top: 1rem;
     margin-bottom: 1rem;
   }
 }

 @media screen and (max-width: 991px) {
   .mobile-search {
     display: inline-block !important;
     background-color: $color-black !important;
   }
   .desktop-search {
     display: none !important;
   }
   .buttons-nav-item {
    flex: auto;
  }
 }

 @media screen and (min-width: 992px) {
  .mobile-search {
    display: none !important;
    background-color: $color-black !important;
  }
  .desktop-search {
    display: inline-block !important;
  }
 }