.ais-Hits {
  .ais-Hits-list {
    list-style-type: none;

    .ais-Hits-item {
      list-style-type: none;
      width: 100%;
    }
  }
}

#searchbox {
  width: 100%;
}

[class^=ais-] {
  font-size: inherit;
}

.btn-white {
  color: $color-white;
}
.btn-white:hover {
  color: $color-white;
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 .2rem $color-black;
}

.search-product {
  text-align: left;
  color: rgb(99, 100, 102) !important;
  font-size: 14px !important;
  font-weight: normal !important;
  letter-spacing: 0px;
}

.search-author {
  margin-right: 2rem;
  color: rgb(99, 100, 102);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
}

.modal-header {
  padding: 0;
  border-bottom: 1px solid $color-white;
}

#hits {
  margin-top: 1rem;
}

.ais-SearchBox-input {
  height: 100% !important;
  padding-left: 4rem !important;
  font-size: 1.2rem !important;
}

.ais-SearchBox-submit {
  left: 2rem !important;

  .ais-SearchBox-submitIcon {
    width: 20px !important;
    height: 20px !important;
  }
}

.ais-SearchBox-resetIcon {
  left: 0 !important;
  width: 15px !important;
  height: 15px !important;
}

.search-title {
  color: rgb(235, 0, 0) !important;
  font-size: 24px !important;
  font-weight: 300 !important;
  letter-spacing: 0px;
}

.search-summary {
  color: rgb(42, 42, 42) !important;
  font-size: 18px !important;
  font-weight: normal !important;
  letter-spacing: 0px;
  line-height: 27px;
  margin-top: 1rem;
}

.search-date {
  color: rgb(99, 100, 102);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
}

[data-tooltip] {
  display: inline-block;
  position: relative;
  cursor: help;
  padding: 4px;
}

/* Tooltip styling */
[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
}

/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

[data-tooltip-position="top"]:before {
  bottom: 100%;
  margin-bottom: 6px;
}

[data-tooltip-position="right"]:before {
  left: 100%;
  margin-left: 6px;
}

[data-tooltip-position="bottom"]:before {
  top: 100%;
  margin-top: 6px;
}

[data-tooltip-position="left"]:before {
  right: 100%;
  margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
  left: 50%;
  margin-left: -6px;
}

/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
  top: 50%;
  margin-top: -6px;
}

[data-tooltip-position="top"]:after {
  bottom: 100%;
  border-width: 6px 6px 0;
  border-top-color: #000;
}

[data-tooltip-position="right"]:after {
  left: 100%;
  border-width: 6px 6px 6px 0;
  border-right-color: #000;
}

[data-tooltip-position="bottom"]:after {
  top: 100%;
  border-width: 0 6px 6px;
  border-bottom-color: #000;
}

[data-tooltip-position="left"]:after {
  right: 100%;
  border-width: 6px 0 6px 6px;
  border-left-color: #000;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}

a.search-title:visited {
  color: rgb(235, 0, 0);
}

.search-summary-link:hover,
.search-summary-link:focus,
.search-summary-link:visited {
  text-decoration: none !important;
}

.ais-Pagination-list {
  list-style-type: none !important;
  list-style: none !important;

  .ais-Pagination-item {
    list-style-type: none !important;
    list-style: none !important;
  }
}

.hit-item-single {
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  border-bottom: 2px solid #ebebeb;
  .search-type-link {
    color: rgb(99, 100, 102) !important;
    font-size: 16px;
    font-weight: normal !important;
    letter-spacing: 0px;
    text-transform: capitalize;
  }
  .search-title-link {
    color: rgb(235, 0, 0);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0px;
    span {
      font-weight: normal !important;
    }
  }
      ul {
        display: inline-flex;
        li {
            display: flex;
        }
    }
    .search-summary-link {
      color: rgb(42, 42, 42);
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 27px;
      span {
        font-weight: normal !important;
      }
    }
    .search-author-link {
      color: rgb(99, 100, 102);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0px;
    }
}

.search-product-link {
  color: rgb(99, 100, 102) !important;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
}

.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background-color: rgb(254, 242, 242) !important;
  color: inherit;
}

#stats {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  padding: 2rem 2rem 0 2rem;
}

.results-p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
}

.no-results-p1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0px;
}

.no-results-p2 {
  color: rgb(42, 42, 42);
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0px;
  line-height: 24px;
}

.modal-body {
  padding: 0;
}

.ais-SearchBox {
  color: $color-black;
}
.statsLine {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 2rem;
}

.no-results {
  h3 {
    color: rgb(0, 0, 0);
    font-size: 24px !important;
    font-weight: bold !important;
    text-align: center;
    letter-spacing: 0px;
  }
  p {
    color: rgb(42, 42, 42);
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0px;
    line-height: 24px;
  }
}