.side-how-to {
    .home-link {
        display: block;
        i {
            margin-right: 5px;
        }
    }

    a {
        font-weight: 510;
        text-decoration: none;
        color: #777;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 1.25rem;
    }

    ul {
        margin-bottom: 40px;

        li {
            margin-bottom: 13px;
        }
    }

    .area {
        list-style: none;
        li {
            list-style: none;
        }
        .active {
            display: block;
            padding: 7px 10px;
            background: #3498DB;
            pointer-events: none;

            a {
                color: #fff;
            }
        }
    }

    hr {
        margin-bottom: 40px;
        border-width: 0;
        border-top: 1px solid #E1E1E1;
    }
    button {
        color: #757575;
        margin-bottom: 40px;
        a {
            color: #3498DB;
            text-decoration: none;
            i {
                margin-right: 10px;
            }
        }
    }
    .button-wp {
        width: 100%;
        border: 1px solid #3498DB;
        a {
            display: block;
            padding: 10px 10px;
            font-weight: 610;
            background-color: $color-white;
            &:hover {
                background-color: #3498DB;
                color: #FFF;
            }
        }
    }
    .button-cart {
        width: 100%;
        border: 1px solid #5aaa28;
        a {
            display: block;
            padding: 10px 10px;
            font-weight: 610;
            text-align: center;
            background-color: #5aaa28;
            color: #fff;
        }
    }
}

.learn-more-button {
    display: block;
    border: transparent;
    margin: 10px auto;
    a{
        background: #5AAA28;
        display: inline-block;
        padding: 10px 25px;
        font-size: 16px;
        color: #fff;
        font-weight: 510;
    }
}