#support-docs-content {
    .front-page-heading {
        text-align: center;
        font-weight: 610;
        color: #666;
        font-size: 2.5rem;
        line-height: 3rem;
        padding-bottom: 10px;
        padding-top: 30px;
        margin: 0px 0 25px 0;
        margin-left: -10%;
    }

    .front-blurb {
        text-align: center;
        font-weight: 200;
        color: #666;
        padding-bottom: 40px;
        margin-left: -10%;
    }

    .campaign-link {
        margin: 20px 0;
        padding-left: 20%;
    }

    .general-campaign {
        display: inline-block;
        border: 1px solid #1E82D7;
        padding: 20px 35px;
        position: relative;
        width: 60%;
        font-family: serif;
    }

    .general-campaign:link {
        text-align: center;
        font-size: 1.2em;
        color: #1E82D7;
        text-decoration: none;

        &:hover,
        &:focus {
            background: #1E82D7;
            color: $color-white;
        }
    }

    .top-links {
        height: 70px;
        margin: 20px 0;
        display: flex;
    }

    .first-links {
        display: inline-block;
        border: 1px solid #1E82D7;
        padding: 20px 35px;
        position: relative;
        width: 90%;
    }

    .first-links:link {
        text-align: center;
        font-size: 1.2em;
        color: #1E82D7;
        text-decoration: none;

        .caret {
            color: #1E82D7;
            padding-left: 6px;
        }

        &:hover,
        &:focus {
            background: #1E82D7;
            color: $color-white;
        }
    }

    .button-links {
        height: 70px;
        margin: 20px 0;
        display: flex;
    }

    .front-link:link {
        text-align: center;
        font-size: 1.2em;
        color: #1E82D7;
        text-decoration: none;

        .caret {
            color: #1E82D7;
            padding-left: 6px;
        }

        &:hover,
        &:focus {
            background: #1E82D7;
            color: $color-white;
        }
    }

    a.front-link {
        display: inline-block;
        border: 1px solid #1E82D7;
        padding: 10px 35px;
        position: relative;
        width: 90%;
        font-family: serif;
        @media (max-width: 1024px) {
            padding: 10px 5px;
        }
    }
}


p.banner-maintenance {
    background: #EB0000 !important;
    position: relative !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 15px 0 !important;
    text-align: center !important;
    font-family: $font-family-primary !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 17px !important;
    color: #FFFFFF !important;

    @media only screen and (max-width: 375px) {
        width: 100% !important;
    }

    @media only screen and (min-width: 376px) and (max-width: 600px) {
        width: 100% !important;
    }

    @media only screen and (max-width: 600px) {
        font-size: 14px !important;
    }

    strong {
        font-weight: 700 !important;
    }


    a {
        color: #ffffff !important;
        text-decoration: underline !important;

        &:hover {
            color: #222 !important;
        }
    }
}