.docs {

    .box.docs-apis {
        h1+p {
            margin: 0 auto;
            max-width: 760px;
        }

        h1 {
            font-family: "titillium-bold", arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            margin-bottom: .25em;
            font-size: 2rem;
        }

        .tools-promos {
            margin-top: 60px;
            display: block;
            width: 100%;
            margin-left: -20px;
            overflow: hidden;

            .promo {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                display: inline-block;
                margin-right: -.26rem;
                margin-left: 20px;
                vertical-align: top;
                width: 33%;
            }
        }

        .card.yellow {
            border-top: solid 1px #e6e6e6;

            .card-subtitle {
                line-height: 1;
                text-transform: uppercase;
                color: #efc75e;
            }

            .card-subtitle::before, .card-subtitle::after {
                background: #efc75e;
            }
            .card-action {
                color: #efc75e;
            }
        }

        .card {
            .card-title {
                padding: .5em .5em 0;
            }

            .card-subtitle {
                display: inline-block;
                line-height: 1;
                padding: 0 4em;
                text-transform: uppercase;
                span {
                    background: #fff;
                    padding: 0 .5em;
                }

                span::before,
                span::after {
                    border-radius: 50%;
                    content: "";
                    display: block;
                    height: 3px;
                    position: relative;
                    top: calc(.5em + 2px);
                    width: 3px;
                }

                span::before {
                    left: -4em;
                }

                span::after {
                    right: -4em;
                }
            }

            .card-subtitle::before, .card-subtitle::after {
                content: "";
                display: block;
                position: relative;
                height: 1px;
                width: 100%;
                left: 0;
            }

            .card-body {
                padding: 3em 30px;

                p {
                    margin-bottom: 1.5em;
                }
            }

            .card-action {
                display: inline-block;
                font-size: 16px;
                margin-top: 1.5em;
                text-transform: uppercase;
                text-decoration: none;
            }
            .card-image {
                padding-top: 20px;
                img {
                    height: 36px;
                    width: 36px;
                }
            }
        }

        .tools-promos {
            .promo {
                display: inline-block;
                margin-right: -.26rem;
                margin-left: 20px;
                vertical-align: top;
                width: calc(33.33333333% - 20px);
            }
        }
        .card.red, .card.yellow{
            border-top: solid 1px #e6e6e6;
        }
        .card.red {
            .card-action, .card-subtitle {
                color: #e74c3c;
            }
            .card-subtitle::before, .card-subtitle::after {
                background: #e74c3c;
            }
        }
    }
}

.card {
    border-top: solid 8px #bfbfbf;
    box-shadow: 0 0 0 rgba(0, 0, 0, .25);
    margin-bottom: 1.5em;
    -webkit-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    width: calc(100% - 2px);

    .card-content {
        border: 1px solid #e6e6e6;
        border-top-color: rgb(230, 230, 230);
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top: 0;
    }

    .card-image {
        padding-top: 20px;

        img {
            height: 36px;
            width: 36px;
        }
    }

    .card-title {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding: calc(.5em + 8px) 20px .5em;
    }
}

h3 {
    font-family: "titillium-regular", arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}