{{- define "main" -}}
<div id="post-container" class="how-to-wrapper">
    {{- partial "components/search-modal" . -}}
    {{- partial "components/announcement" . -}}
    <!-- {{- partial "components/banner" . -}} -->
    {{- if or (eq .Params.Type "product") (eq .Params.Type "article") -}}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
                {{- partial "components/sidebar-account" . -}}
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 account-content" id="account-content">
                <div class="content">
                <h2 class="less-margin">{{ .Params.Title }}</h2>
                <div class="row account-meta">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p>Last updated on: &nbsp; {{ .Params.Last_modified_date }}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p>Authored by: &nbsp;  {{ .Params.Created_by }}</p>
                    </div>
                </div>
                {{ .Content }}
                </div>
                {{- partial "components/share-bar" . -}}

                {{- partial "components/legal-footer" . -}}
            </div>
        </div>
    </div>
    {{- else -}}
    {{ .Content }}
    {{- end -}}
</main>
{{- end -}}

