{{- define "main" -}}
<article class="how-to">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                {{- if or (eq .Params.Product_url "account-management") (eq .Params.Product_url "rackspace-pdr") -}}
                    {{- partial "components/sidebar-account" . -}}
                {{- else -}}
                    {{- partial "components/sidebar" . -}}
                {{- end -}}
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <h2>{{- .Params.Title -}}</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p>Last updated on: {{- .Params.Last_modified_date -}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p>Authored by: {{- .Params.Last_modified_by -}}</p>
                    </div>
                </div>
                {{- .Content -}}
                {{- partial "components/share-bar" . -}}
                {{- partial "components/cta/basic" . -}}
                {{- partial "components/legal-footer" . -}}
            </div>
        </div>
    </div>
    </div>
</article>
{{- end -}}