{{- define "main" -}}
<div class="how-to-wrapper">
    {{- partial "components/announcement" . -}}
    {{- partial "components/search-modal" . -}}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
                    {{- partial "components/sidebar-account" . -}}
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 account-content" id="account-content">
                <h2>{{- .Params.Title | markdownify -}}</h2>
                {{- if not (in .Params.Permalink "all-articles") -}}
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p>Last updated on: &nbsp; {{- .Params.Last_modified_date -}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p>Authored by: &nbsp; {{- .Params.Created_by -}}</p>
                    </div>
                </div>
                {{- else -}}
                <div></div>
                {{- end -}}
                <hr />
                {{- .Content -}}
                {{- partial "components/share-bar" . -}}
                {{- partial "components/legal-footer" . -}}
            </div>
        </div>
    </div>
    </div>
</div>
{{- end -}}