{{- define "main" -}}
<main class="blog-list-wrapper">
  {{- partial "components/headline" . -}}
  {{- partial "components/announcement" . -}}
  <div class="container">
    <section class="section section-blog-list">
      {{- range .Paginator.Pages -}}
      {{ .Render "summary" }}
      {{- end -}}
      {{- partial "components/pagination/paginator" . -}}
    </section>
    <section>
      <div></div>
    </section>
    {{- partial "components/popular-posts" . -}}
  </div>
</main>

{{- partial "components/cta/basic" .Params.cta -}}
{{- end -}}