<article class="blog-post">
  <a href="{{ .RelPermalink | relURL }}">
    <h2 class="post-title">{{ .Params.headline | default .Title }}</h2>
  </a>
  <div class="post-meta">
    <div class="post-avatar">
      {{- if .Params.AuthorAvatar -}}
      <img src="{{.Params.AuthorAvatar }}" class="post-avatar-image racker" alt="post avatar" />
      {{- else -}}
      <img src="/img/avatar-default.svg" class="post-avatar-image" alt="post avatar" />
      {{- end -}}
    </div>
    <a class="post-author" href="/blog/authors/{{ .Params.Author }}">{{ .Params.Author }}</a>
    |
    <span class="post-date">{{ dateFormat .Site.Params.dateFormat .Date.UTC }}</span>
    <div class="post-category" data-category="{{ .Section }}">
      {{- with .Params.categories -}}
      {{- $len := len . -}}
      <span>{{ range $index, $value := . }}
        <a href="{{ relURL "/categories/"}}{{ urlize $value }}" class="post--category"
          data-category="{{ $value | lower }}">
          {{ $value | humanize }}
        </a>{{ if not (eq $len ($index | add 1)) }}, {{- end -}}
        {{- end -}}</span>
      {{- end -}}
    </div>
  </div>
  <div class="post-desc">
    <p class="post-excerpt">
      {{ .Summary }}
      {{ if .Truncated }}
      <div class="post-read-more">
        <a href="{{ .RelPermalink }}" class="read-more">Read More</a>
      </div>
      {{ end }}
    </p>
  </div>
</article>