.blog-list-wrapper {
  background: $color-white;
  min-height: 100vh;
  padding-bottom: 4rem;
  padding-top: 5rem;

  .post--feature-image {
    margin-top: 0;
    text-align: center;

    img {
      max-width: 100%;
      width: 760px;
    }

    .photo-credit {
      display: block;
      font-size: 0.8rem;
      font-style: italic;
      margin: 0 auto;
      margin-top: -0.5rem;
      max-width: 760px;
      text-align: right;
    }
  }

  >.container:first-child .post--title {
    margin-top: 3rem;
  }

  .post--feature-image+.container>.post--title {
    margin-top: 2rem;
  }

  @media screen and (min-width: 760px) {
    >.post--feature-image:first-child {
      margin-top: 4rem;
    }
  }

  .post--title {
    @media screen and (min-width: 60em) {
      font-size: 2.5rem;
    }
  }

  .post--meta {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .post-line {
    border-bottom: solid 1px #e6e6e6;
  }

  .post--meta-label {
    display: block;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .post--info {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: normal;
  }

  .post--date {
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
  }

  .post--category {
    letter-spacing: 0.02em;

    a {
      font-weight: 600;
    }
  }

  /* Content styling */

  h1 {
    font-size: 2rem;
    font-family: "titillium-regular", arial, sans-serif;
  }

  h1,
  h2,
  h3 {
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 2rem;
  }

  strong {
    font-weight: 600;
  }

  p {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  a {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  #single-post {
    flex: 0 0 60%;
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      font-family: 'titillium-bold',arial,sans-serif;
    }
    h4 {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: 'titillium-bold',arial,sans-serif;
    }

    @media screen and (min-width: 800px) {
      padding: 4rem 0 0 4rem;
    }
  }
}

.author {
  display: block;
  margin-right: 1rem;
}

.author--wrapper {
  align-items: center;
  display: flex;
}

.author--avatar {
  $avatar-size: 2.25rem;

  border-radius: calc($avatar-size / 2);
  height: $avatar-size;
  overflow: hidden;
  width: $avatar-size;
}

.author--info {
  margin-left: 1rem;
}

.author--info span {
  display: block;
}

.author--name {
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}

.author--title {
  font-size: 0.8rem;
  letter-spacing: 0.02em;

  a {
    font-weight: 600;
  }
}

.blog-post {
  margin-bottom: 2rem;
  max-width: 600px;
  border-bottom: solid 1px #e6e6e6;

  .post-title {
    color: #3498db;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-family: 'titillium-regular', arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
  }

  .post-meta {
    font: inherit;
    margin-bottom: 0.5rem;
  }


  .post-read-more {
    margin: 2rem 0 2rem 0;

    .read-more {
      font-family: "open-sans-bold", arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 100%;
      text-transform: uppercase;
    }
  }

  .blog-post-img {
    margin: 0 0 1em 1em;
    float: right;
    height: auto;
    max-width: 50%;
    display: block;
  }
}

.post-avatar {
  float: left;
  height: 64px;
  margin-right: 10px;
  width: 64px;
  display: block;
  position: relative;

  img {
    display: block;
    height: 64px;
    width: 64px;
  }
}

.post-avatar::after {
  content: 'RACKER';
  font-size: 10px;
  width: 100%;
  background: rgba(235, 0, 0, .8);
  color: #fff;
  left: 0;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  bottom: 0;
}

.highlight {
  background: $color-black;
  color: $color-light-grey;
  padding: 1em;
  margin-bottom: 3em;
  line-height: 1.1em;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  font-family: 'source-code-regular', 'Monaco', 'Courier New', monospace;
  font-style: normal;
  font-weight: 400;

  pre {
    background-color: inherit;
    border: none;
    color: inherit;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: .5em;
  }
}