<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{{/* Moment JS for dateformatting */}}
<script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
{{/* JQuery for Bootstrap */}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
{{/* Popper JS for Bootstrap*/}}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
{{/* Bootstrap for styling */}}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>

<!-- <script async src="https://cse.google.com/cse.js?cx=006650721361932583448:0tpp1tnttba"></script> -->

<script>
    function openTab(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("product-type");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.parentElement.className += " active";
    }
    window.onload = function () {
        if (document.getElementById("gs-ctrl") != undefined) {
            document.getElementById("gs-ctrl").className += " active"
        }
        if (!window.location.href.includes("faq") && !window.location.href.includes("all-articles") && (document.getElementById("acc-man") != undefined)) {
            document.getElementById("acc-man").className += " active";
        }
        if (window.location.href.includes("faq") && (document.getElementById("acc-faq") != undefined)) {
            document.getElementById("acc-faq").className += " active";
        }
        if (window.location.href.includes("all-articles") && (document.getElementById("acc-all") != undefined)) {
            document.getElementById("acc-all").className += " active";
        }
        if(window.location.href.includes("faq")) {
            document.getElementById("account-content").className += " faq-list";
            $('h4').addClass('inactive');
        }
    }
    $('h4').click(function() {
        if($(this).hasClass('active')){
            $(this).removeClass('active');
        } 
        if(!$(this).hasClass('active') && $(this).hasClass('inactive')) {
            $(this).addClass('active');
            $(this).removeClass('inactive');
        }
        if(!$(this).hasClass('active') && !$(this).hasClass('inactive')) {
            $(this).addClass('inactive');
        }
    })
</script>


<script src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CArray.prototype.includes%2CPromise%2CObject.assign%2CObject.entries"></script>
