<section class="docs">
    <div class="box docs-apis">
        <div class="container">
            <h1>Developer Documentation</h1>
            <p>Whether you’re just getting started with the Rackspace Cloud or looking for reference on a product you’ve
                been using for a while, we’ve got the right documentation to get you on your way.</p>
            <div class="tools-promos">
                <div class="promo sdks">
                    <div class="card yellow">
                        <div class="card-content">
                            <div class="card-image">
                                <img src="/img/sdks.svg" alt="sdk-img"/>
                            </div>
                            <h3 class="card-title">SDKs &amp; Tools</h3>
                            <div class="card-subtitle">
                                <span>SDKs</span>
                            </div>
                            <div class="card-body">
                                <p>We have SDKs for most major dev platforms, including Java, .NET, Node.js, PHP,
                                    Python, and Ruby.</p>
                                <a href="/docs/#sdks" class="card-action">Explore tools</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo apis">
                    <div class="card red">
                        <div class="card-content">
                            <div class="card-image">
                                <img src="/img/apis.svg" alt="apis-img"/>
                            </div>
                            <h3 class="card-title">Product Guides</h3>
                            <div class="card-subtitle">
                                <span>APIs</span>
                            </div>
                            <div class="card-body">
                                <p>Learn the capabilities of our APIs with Getting Started, Reference, and
                                    Developer guides.</p>
                                <a href="/docs" class="card-action">Read product guides</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>