{{- $isHome := .IsHome -}}
{{- $isDocs := (eq .Section "docs") -}}
{{- $isBlogs := (eq .Section "blog") -}}


<header class="header buttons-header">
  <div class="block"></div>
  <div class="right-block">
      <ul class="buttons-nav-items">
        {{- range .Site.Menus.buttons -}}
        {{- if eq .Identifier "buynow" -}}
        <li class="nav-item buttons-nav-item buy-now" data-signed-out="true">
          <a class="buynow-button button small primary"
            href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            <ul>
              <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
              <li><a href="https://cart.rackspace.com/apps">Email &amp; Apps</a></li>
              <li><a href="https://cart.rackspace.com/aws">Fanatical Support for AWS</a></li>
              <li><a href="https://cart.rackspace.com/gcp">Managed Google Cloud Platform</a></li>
              <li><a href="https://cart.rackspace.com/office365">Office 365</a></li>
            </ul>
        </li>
        {{- else if eq .Identifier "login" -}}
        <li class="nav-item buttons-nav-item login" data-signed-out="true">
          <a class="login-button button small secondary"
            href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            <ul>
              <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
              <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
              <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
              <li><a href="https://cp.rackspace.com">Cloud Office Control Panel</a></li>
          </ul>
        </li>
        {{- end -}}
        {{- end -}}
      </ul>
  </div>
</header>

<header class="header {{ if $isDocs }} docs{{ end }}">
  <div class="left-block">
    <a href="{{ .Site.BaseURL | relURL }}" title="Go to homepage" class="logo"></a>
  </div>
  <div class="right-block">
    <nav class="nav">
      <a href="{{ .Site.BaseURL | relURL }}" class="mini-nav--logo"></a>
      {{- partial "components/navbar_nav.html" .Site.Menus.main . -}}
      {{- if $isDocs -}}
      {{- partial "components/sidebar" . -}}
      {{- end -}}
    </nav>
    <div class="mini-nav--toggle">
      <img class="toggle-open" src="{{ "/img/navtoggle-light-open.svg" | relURL }}" alt="Open nav">
      <img class="toggle-close" src="{{ "/img/navtoggle-light-close.svg" | relURL }}" alt="Close nav">
    </div>
  </div>
  <div class="search">
    <input type="search" name="search" placeholder="Search this site" class="search--input">
  </div>
</header>