<section class="sidebar">
    <div class="blog-sidebar ng-scope" data-ng-controller="BlogSidebarCtrl">
        <div class="recent-posts">
            <h5>Popular Posts</h5>
            <div class="tab-links">
                <a href="" data-ng-click="clickPostTab('month')"
                    data-ng-class="{'active': isSectionActive('month')}">Last 30 Days</a>
                <a href="" data-ng-click="clickPostTab('forever')"
                    data-ng-class="{'active': isSectionActive('forever')}">All Time</a>
            </div>
            <ol data-ng-show="isSectionActive('month')">
                <li><a href="/blog/understanding-a-sql-server-execution-plan/">Understanding a SQL Server execution
                        plan</a></li>
                <li><a href="/blog/lacp-bonding-and-linux-configuration/">LACP bonding and Linux configuration</a>
                </li>
                <li><a href="/blog/steps-to-migrate-multiple-iis-sites/">Steps to migrate multiple IIS sites</a>
                </li>
                <li><a href="/blog/new-sql-server-2017-features/">New SQL Server 2017 features</a></li>
                <li><a href="/blog/introduction-to-pgp-encryption-and-decryption/">Introduction to PGP encryption
                        and
                        decryption</a></li>
            </ol>
            <ol data-ng-show="isSectionActive('forever')" class="ng-hide">
                <li><a href="/blog/understanding-a-sql-server-execution-plan/">Understanding a SQL Server execution
                        plan</a></li>
                <li><a href="/blog/lacp-bonding-and-linux-configuration/">LACP bonding and Linux configuration</a>
                </li>
                <li><a href="/blog/powershell-101-from-a-linux-guy/">PowerShell 101 from a Linux guy</a></li>
                <li><a href="/blog/openstack-orchestration-in-depth-part-1-introduction-to-heat/">OpenStack
                        Orchestration
                        in depth, Part 1: Introduction to Heat</a></li>
                <li><a href="/blog/neutron-networking-l3-agent/">Neutron networking: Neutron routers and the L3
                        agent</a>
                </li>
            </ol>
        </div>
        <div class="categories">
            <h5>Categories</h5>
            <ul>
                <li><a href="/blog/categories/openstack">Openstack</a></li>
                <li><a href="/blog/categories/database">Database</a></li>
                <li><a href="/blog/categories/oracle">Oracle</a></li>
                <li><a href="/blog/categories/salesforce">Salesforce</a></li>
                <li><a href="/blog/categories/developers">Developers and DevOps</a></li>
                <li><a href="/blog/categories/security">Security</a></li>
                <li><a href="/blog/categories/cloud-servers">Cloud Servers</a></li>
                <li><a href="/blog/categories/general">General</a></li>
            </ul>
        </div>
    </div>
</section>