{{- define "main" -}}
<section class="hero">
    <div class="hero--content">
        <div class="container">
            <div class="hero--text-block">
                <h1 class="hero--title">Page not found</h1>
                <div class="hero--sub">What you're looking for isn't here!</div>
                <div class="hero-cta">
                    <a href="/" class="button primary big" title="Back to home" aria-label="Back to home">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{- end -}}