{{- define "main" -}}
    <div class="headline404">
        <h2>Developer Center</h2>
        <br>  
    </div>
    {{- partial "components/announcement" . -}}
    {{- partial "components/search-modal" . -}}
    <div class="content404">
        <h1>Page Not Found</h1>
        <p>Sorry, we couldn't find the page you were looking for. The page might have moved or have been deleted.</p>
        <p>For information about Rackspace products and services, see:</p>
        <ul>
            <li><a href="https://www.rackspace.com/">rackspace.com</a></li>
            <li><a href="https://support.rackspace.com/">support.rackspace.com</a></li>
            <li><a href="https://docs.rackspace.com/">docs.rackspace.com</a></li>
        </ul>
    </div>
{{- end -}}