{{- define "main" -}}
<main class="blog-list-wrapper">
  <div class="row">
    <div class="col-sm-12">
      {{- partial "components/headline" . -}}
    </div>
    <div class="col-sm-12">
      {{- partial "components/announcement" . -}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row section-blog-list">
      <div class="col-sm-12 col-md-10 col-lg-10">
          <div class="container">
            {{- range .Paginator.Pages -}}
            {{ .Render "summary" }}
            {{- end -}}
            {{- partial "components/pagination/paginator" . -}}
          </div>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        {{- partial "components/popular-posts" . -}}
      </div>
    </div>
  </div>
</main>
{{- end -}}