$color-white: #FFFFFF;
$color-light-grey: #e0e0d7;
$color-grey: rgb(241, 243, 245);
$color-light-grey: #c9c6c1;
$color-dark-grey: #676781;
$color-header-grey: #666;
$color-medium-light: rgb(210, 210, 210);
$color-medium-dark: rgb(134, 142, 150);
$color-dark: #474747;
$color-black: #000000;
$color-sinbad: #a4d6d0;
$color-merino: rgb(248, 238, 228);
$color-brand: rgb(32, 201, 151);
$color-brand-light: rgb(58, 219, 172);
$color-copy: rgb(110, 120, 130);
$color-copy-dark: rgb(63, 70, 77);
$color-error: rgb(243, 127, 127);
$color-blue: rgb(58, 208, 219);
$text-color: #414141;
$rax-blue: #3498db;
$color-red: #eb0000;
$color-green: #5aaa28;
$color-text: #474747;
$color-kcblue: #3498DB;