$font-family-primary: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@media print {
  .header > .right-block {
    display: none !important;
  }
  .header .left-block .logo {
    display: block !important;
  }
  .footer,
  .lower-footer {
    padding-top: 0 !important;
  }
  .footer .columns > .column {
    display: none !important;
    &:first-child {
      display: block !important;
    }
  }
  .contact {
    display: none !important;
  }
  .docs-content {
    padding-top: 70px !important;
  }
}
