html,
body {
  font-family: "open-sans-regular", arial, sans-serif;
  font-size: 14px;
  font-weight: 610;
  line-height: 1.5;
  color: #474747;
  word-wrap: break-word;
  word-break: break-word;
}


p {
  color: $color-copy;
}


h3 {
  font-size: 1rem;
  font-weight: 610;
  margin-bottom: 0.5rem;
}


hr {
  border: none;
  border-top: 1px solid $color-grey;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  @media screen and (max-width: 48em) {
    display: block;
    overflow: scroll;
  }
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

th,
td {
  padding: 8px 20px;
  code {
    color: #474747 !important;
  }
}

th {
  background: $color-white;
  color: $color-copy-dark;
}

tr:nth-child(even) td {
  background: $color-white;
  color: $color-copy-dark;
}

tr:nth-child(odd) td {
  background: $color-white;
  color: $color-copy-dark;
}

/* Content styling */
.md-content {
  padding-bottom: 4rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 2rem;
  }

  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
  }

  strong {
    font-weight: 610;
  }

  p {
    color: $color-copy-dark;
    margin: 1rem 0;
  }

  a {
    color: $color-brand;
    font-weight: 610;
    text-decoration: none;
    transition: color 0.25s ease;

    &:hover {
      color: color($color-brand b(+20%) s(-5%));
    }
  }

  ul {
    list-style-type: initial;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    margin-left: 1rem;
  }

  li {
    list-style: inherit;
  }

  blockquote {
    font-style: italic;
    margin: 1rem 0;
    padding-left: 1rem;
    position: relative;
  }

  blockquote::before {
    background: $color-brand;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }

  img {
    max-width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  img:hover:not(.no-lightbox) {
    opacity: 0.8;
    transform: translateY(-0.3rem);
    cursor: pointer;
  }

  p img {
    display: inline-block;
  }

  @media screen and (max-width: 1100px) {
    figure {
      max-width: 140% !important;
      margin-left: -20%;
    }
  }
}

a, a:visited {
  color: #3498db;
  cursor: pointer;
  text-decoration: none;
}

td.gsc-input {
  background: transparent !important;
  box-shadow: 0px 0px 0px 0px $color-white !important;
  padding: 0 !important;
  td {
    background: transparent !important;
    box-shadow: 0px 0px 0px 0px $color-white !important;
    padding: 0 !important;
  }
}

table.gsc-search-box {
  margin-top: 0 !important;
  table {
    margin-top: 0 !important;
  }
}

.gsc-input-box {
  border-color: transparent !important;
  border: 0px solid $color-white !important;
  background: transparent !important;
}

td.gsc-search-button {
  background: $color-white !important;
  margin-left: 0px !important;
  border-radius: 0 !important;
  box-shadow: 0px 0px 0px 0px $color-white !important;
  button {
    font-size: 0 !important;
    padding: 0 !important;
    background-color: $color-white !important;
    background: $color-white !important;
    margin-left: 0 !important;
  }
}

.river {
  background: #F2F5F5;
}